@*@model IEnumerable<WMSAMG.Models.CSIS2017Models.TblReceivingDetail>*@
@model System.Data.DataTable
@{
    ViewData["Title"] = "List of Received Stocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                RR Ref.
            </th>
            <th>
                Customer
            </th>
            <th>
                Payment Type
            </th>
            <th>
                SKU
            </th>
            <th>
                Stock Group
            </th>
            <th>
                Qty
            </th>
            <th>
                Actual Wht.
            </th>
            <th>
                UOM
            </th>
            <th>
                Received
            </th>
            <th hidden>
                End Time
            </th>
            <th>
                Pallet No.
            </th>
            <th hidden>
                Company
            </th>
            <th hidden>
                Date Received
            </th>
            <th>
                Remarks
            </th>
            <th hidden>
                Approved By
            </th>
            <th hidden>
                Encoder
            </th>
            <th hidden>
                Verified
            </th>
            <th>
                <a asp-action="AddorEdit">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)
            {
        <tr>
            <td>
                @Model.Rows[i]["RRCode"]
            </td>
            <td>
                @Model.Rows[i]["CustomerName"]
            </td>
            <td>
                @Model.Rows[i]["PayTypeInitial"]
            </td>
            <td>
                @Model.Rows[i]["StockSKU"] : @Model.Rows[i]["StockDescription"]
            </td>
            <td>
                @Model.Rows[i]["StockGroupCategory"]
            </td>
            <td>
                @Model.Rows[i]["Qty"]
            </td>
            <td>
                @Model.Rows[i]["ActualWeight"]
            </td>
            <td>
                @Model.Rows[i]["UOM"]
            </td>
            <td>
                @Model.Rows[i]["ReceivingTime"]
            </td>
            <td hidden>
                @Model.Rows[i]["EndTime"]
            </td>
            <td>
                @Model.Rows[i]["PalletNo"]
            </td>
            <td hidden>
                @Model.Rows[i]["CompanyName"]
            </td>
            <td hidden>
                @Model.Rows[i]["EmployeeDate"]
            </td>
            <td>
                @Model.Rows[i]["Remarks"]
            </td>
            <td hidden>
                @Model.Rows[i]["Approver"]
            </td>
            <td hidden>
                @Model.Rows[i]["Encoder"]
            </td>
            <td hidden>
                @Model.Rows[i]["isSaved"]
            </td>
            <td>
                <a asp-action="AddorEdit" asp-route-id="@Model.Rows[i]["ReferenceCode"]">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Rows[i]["ReferenceCode"]">Delete</a>
            </td>
        </tr>
            }
        </tbody>
</table>
