@model WMSAMG.Models.CSIS2017Models.TblStockWithdrawalDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblStockWithdrawalDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rrcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rrcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayTypeInitial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayTypeInitial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockSku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockSku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockPcsperPack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockPcsperPack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockPackperCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockPackperCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockWeightinKilosperPack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockWeightinKilosperPack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockWeightinKilosperCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockWeightinKilosperCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PalletNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PalletNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageLocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageLocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requestor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSaved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReferenceCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
